[Unit]
Description=INSS Watcher daemon
After=default.target

[Service]
ExecStart=%h/.cargo/bin/inss-watcher start
Restart=on-failure
RestartSec=5
Nice=10
IOSchedulingClass=best-effort
IOSchedulingPriority=7

[Install]
WantedBy=default.target
